$primary-color: #1E295D; // dk blue bg
$tab-highlight: #566FE7; // lt blue
$circle-light: #E1E1E1; // light grey circle
$circle-dark: #808080; // dark grey circle w/ check
$danger-red: #D52B3D; // red (circle and text)
$success-green: #71AE2F; // green (circle and btn)

// usually responsive config and mixins would be here too 
